
h1 {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(30, 15, 242);
    background-color: azure;
}

h2 {
    font-size: medium;
    color: aliceblue;
    background-color: black;
}

nav {
    margin: 50px auto 0;
    position: relative;
    width: 750px;  
    height: 1px;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 50px;
}
a:nth-child(2) {
    width: 110px;
}
a:nth-child(3) {
    width: 100px;
}
a:nth-child(4) {
    width: 100px;
}
nav .start-AFL-photography, a:nth-child(1) {
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    left: 10px;
    background-color: #1abc9c;
}

nav .start-Contact, a:nth-child(2) { 
    border-radius: 5px;
    padding: 5px;
    width: 110px;
    left: 300px;
    background-color: #e74c3c;
}

nav .start-About, a:nth-child(3) { 
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    left: 500px;
    background-color: #3498db;
}

nav .start-Development-Work, a:nth-child(4) {
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    left: 700px;
    background-color: #e67e22;
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
}

span {
    color: #2BD6B4;
}